@media screen and (max-width: 991px) {
    .home {
        height: 70%;
    }

    .home h1 {
        font-size: 35px;
        line-height: 1.4;
    }

    .home p {
        width: 100%;
    }

    .section-tittle h2 {
        font-size: 23px;
        line-height: 1.3;
    }

    .create .create-caption h3 {
        font-size: 25px;
        line-height: 1.3;
    }

    .generating .info .generating-icon i {
        font-size: 41px;
    }

    .generating .info {
        padding: 20px 8px 20px !important;
    }

    .car-p {
        padding: 0px !important;
    }

    .icon-say,
    .icon-say2 {
        display: none;
    }

    .have-project .project-caption h2 {
        font-size: 31px;
    }

    .have-project .project-caption p {
        font-size: 15px;
        width: 100%;
    }

    .have-project .info {
        display: flex;
        flex-direction: column;
        align-items: start !important;
    }

    .have-project .container {
        padding: 0px 25px;
    }

    .have-project .container .info {
        padding: 40px 0px !important;
    }

    .footer .container .row {
        margin: 0px;
        padding: 0px;
    }

    .footer .container .row .support {
        margin: 0px;
    }
}